/** ==================== Globales ==================== */
:root {
  /*==========Colores Globales*/
  --blanco: #ffffff;
  --negro: #111111;
  --gris: #343a40;

  /*==========Fuentes Globales*/
  --fuentePrincipal: 'Raleway', sans-serif;
}

/*========Etiquetas Reset*/
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  font-family: var(--fuentePrincipal);
  line-height: 1.8;
}

h1,
h2,
h3 {
  font-weight: 900;
  margin: 0;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 3.5rem;
}

p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
  display: inline;
}

li {
  display: inline;
}

a {
  text-decoration: none;
}

/*======Utilidades*/
.contenedor {
  max-width: 120rem;
  margin: 0 auto;
  width: 90%;
}

.contenedor-header {
  max-width: 120rem;
  margin: 0 auto;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.btn {
  color: var(--gris);
  background-color: var(--blanco);
  border-radius: 10px;
  border: 1px solid var(--gris);
  padding: 0.5rem 2rem;
  margin-top: 0.5rem;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: var(--gris);
  color: var(--blanco);
}

.text-center {
  text-align: center;
}

.mt-5 {
  margin-top: 5rem;
}

/* Header */
.hero-img {
  background-image: url('../img/hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 55rem;
}

.contenedor-header h1 {
  color: var(--blanco);
  text-align: center;
  font-weight: lighter;
}

.contenedor-header span {
  font-weight: 900;
}

.hero-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

.hero-contacto a {
  color: var(--blanco);
  padding: 0.4rem 1rem;
}

.hero-contacto img {
  width: 2rem;
  height: 2rem;
}

.hero-navegacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.hero-navegacion li {
  display: block;
  width: 80%;
  text-align: center;
}

.hero-navegacion a {
  color: var(--blanco);
  padding: 0.5rem;
  display: block;
  transition: all 0.4s ease;
  border-radius: 10px;
}

.hero-navegacion a:hover {
  background-color: rgb(255 255 255 /.5);
  color: var(--negro);
  transition: all 0.8s ease;
  font-weight: 600;
}

.hero-texto {
  text-align: center;
  color: var(--blanco);
}

.hero-texto p {
  font-weight: 600;
}

/* Section sobre nosotros */
.sobreNosotros-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sobreNosotros-img {
  background-image: url(' ../img/nosotros.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 30rem;
}

.sobreNosotros-contenedor {
  margin: 1rem 0;
}

.sobreNosotros-contenedor h3 {
  text-align: center;
}

/* Main Modelos */
.main-modelo {
  margin-top: 4rem;
}

.modelos-contenedor {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 1.5rem;
}

.modelo {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.modelo h4 {
  font-size: 2.8rem;
  margin: 0;
}

.modelo button {
  width: 50%;
}

.modelo-img-1 {
  background-image: url('/img/modelo_basico.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 30rem;
}

.modelo-img-2 {
  background-image: url('/img/modelo_elite.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 30rem;
}

.modelo-img-3 {
  background-image: url('/img/modelo_premier.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 30rem;
}

/* Section galeria */
.galeria-contenedor {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto auto;
  column-gap: 1rem;
  row-gap: 1rem;
}

.galeria-contenedor div:nth-child(2) {
  grid-area: 3/1/4/2;
}

.galeria-contenedor div:last-child {
  display: none;
}

/* Footer */
.footer {
  height: 20rem;
}

.footer-flex {
  display: flex;
  flex-direction: column;
  justify-content: end;
  column-gap: 1rem;
  ;
}

/**============== Media 767 */
@media (min-width: 767px) {
  .contenedor-header h1 {
    text-align: left;
  }

  .hero-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hero-texto {
    text-align: right;
  }

  .hero-navegacion {
    display: flex;
    flex-direction: row;
    justify-content: end;
    column-gap: 2rem;
    margin: 0;
  }

  .hero-navegacion li {
    display: inline;
    width: unset;
    margin-bottom: 20rem;
  }

  /* Section SobreNosotros */
  .sobreNosotros-contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }

  .sobreNosotros-img {
    height: unset;
  }

  /* Main Modelos */
  .modelos-contenedor {
    row-gap: 1rem;
  }

  .modelo {
    display: grid;
    /* grid-template-rows: unset; */
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    align-items: start;
  }

  .modelo button {
    position: absolute;
    bottom: 2rem;
    width: 40%;
    left: 4rem;
  }

  /* Galeria */
  .galeria-contenedor {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .galeria-contenedor div:nth-child(1) {
    grid-area: 1/1/2/2;
  }

  .galeria-contenedor div:nth-child(2) {
    grid-area: 2/1/4/2;
  }

  .galeria-contenedor div:nth-child(3) {
    grid-area: 1/2/2/3;
  }

  .galeria-contenedor div:nth-child(4) {
    grid-area: 3/2/4/3;
  }

  .galeria-contenedor div:nth-child(5) {
    grid-area: 2/2/3/3;
  }

  .galeria-contenedor div:nth-child(6) {
    grid-area: 1/3/3/4;
  }

  .galeria-contenedor div:nth-child(7) {
    grid-area: 3/3/4/4;
    display: initial;
  }
}