/** ==================== Globales ==================== */
:root {
  /*==========Colores Globales*/
  --blanco: #ffffff;
  --negro: #111111;
  --gris: #343a40;

  /*==========Fuentes Globales*/
  --fuentePrincipal: 'Raleway', sans-serif;
}

/*========Etiquetas Reset*/
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  font-family: var();
  line-height: 1.8;
}

h1,
h2,
h3 {
  font-weight: 900;
  margin: 1rem 0 4rem 0;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 5.8rem;
}

h3 {
  font-size: 5rem;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
  display: inline;
}

li {
  display: inline;
}

a {
  text-decoration: none;
}

/*======Utilidades*/
.contenedor {
  max-width: 12rem;
  margin: 0 auto;
  width: 90%;
}

.btn {
  color: var(--gris);
  background-color: var(--blanco);
  border: 1px solid var(--gris);
  padding: 0.5rem 2rem;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: var(--gris);
  color: var(--blanco);
}

.text-center {
  text-align: center;
}

.mt-5 {
  margin-top: 5rem;
}